@tailwind base;
@tailwind components;
@tailwind utilities;

#background {
  background-image: url('./asset/img/bulldozer.jpg');
  /* background-image: url('./img/building.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
}
#login {
  /* background-image: url('./img/bulldozer.jpg'); */
  /* background-image: url('./asset/img/street.jpg'); */
  background: #a8d8d8;
  backdrop-filter: blur(300px);
  -webkit-backdrop-filter: blur(56px);
}
